body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    color: teal;
    text-align: center;
}

.section {
    background-color: beige;
    border: 1px;
    margin: 10px;
    width: 390px;
    padding: 5px;
    border-style: solid;
    border-color: black;
}

.category {
    background-color: lightgray;
    float: left;
    height: 150px;
    width: 180px;
    margin: 10px;
    padding: 5px;
}

.image{
    height: 160px;
    margin: 5px;
    padding: 5px;
}